/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/*TOPO*/
#topo{
    width: 100%;
    height: 70px;
    background: linear-gradient(90deg, rgba(4,1,57,1) 0%, rgba(52,9,121,1) 44%, rgba(145,0,255,1) 100%);
}
.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 7px;
}
.header nav ul{
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding-top: 20px;
}
.header h1{
    transform: scale(0.9);
    transition: ease-in .2s;
    margin-bottom: 8px;
}
.header h1:hover {
    transform: scale(1.2);
}
.header h1 img{
    height: 70px;
    size: unset;    
}
.header nav ul li {
    padding-left: 40px;
    transform: scale(0.9);
    transition: all ease 0.2s;
}
.header nav ul li a {
    color: #dadada;
    font-size: 130%;
}
.header nav ul li:hover{
    text-decoration: none;
    transform: scale(1.04);
}
body{
    background-image:url(../img/beats.png);
    background-attachment: fixed;
    background-size: 105%;
    height: 100%;
}
.main {
    width: 80%;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.226) ;
    color:white;
    text-align: center;
    padding: 30px;
    font-weight: bold;
}
.main h2 {
    margin-bottom: 20px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background: linear-gradient(90deg, rgba(4,1,57,1) 0%, rgba(52,9,121,1) 44%, rgba(145,0,255,1) 100%);
    position: fixed;
    bottom: 0;
    color: white;
}
