/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/*TOPO*/
#topo{
    width: 100%;
    height: 70px;
    background: linear-gradient(90deg, rgba(4,1,57,1) 0%, rgba(52,9,121,1) 44%, rgba(145,0,255,1) 100%);
}
.container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 7px;
}
.container nav ul{
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding-top: 20px;
}
.container h1{
    color: #ffffff;
}
.container h1 img{
    height: 70px;
    size: unset;    
}
.container nav ul li {
    padding-left: 40px;
    transform: scale(0.9);
    transition: all ease 0.2s;
}
.container nav ul li a {
    color: #dadada;
    font-size: 130%;
}
.container nav ul li:hover{
    text-decoration: none;
    transform: scale(1.02);
}
body{
    background-image:url(../img/beats.jpg);
    background-attachment: fixed;
    background-size: 105%;
    height: 100%;
}