/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
audio {
    height: 40px;
    margin: 10px;
}
/*TOPO*/
#topo{
    width: 100%;
    background: linear-gradient(90deg, #040139cb 0%, #340979b2 44%, #9000ffad 100%);
    position: fixed;
    top: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.header nav ul{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.header h1{
    transform: scale(1);
    transition: ease-in .2s;
    padding-top: 8px;
}
.header h1:hover {
    transform: scale(1.1);
}
.header h1 img{
    height: 40px;
    size: unset;    
}
.header nav ul li {
    padding: 30px 30px;
    transition: all ease 0.2s;
    cursor: pointer;
}
.header nav ul li a {
    color: #dadada;
    font-size: 130%;
}
.header nav ul li:hover{
    text-decoration: none;
    background-color: #040139;
}
/*body/ main*/
body{
    background-image:url(../img/beats.png);
    background-attachment: fixed;
    background-size: 105%;
    height: 100%;
}
#banner img{
    width: 100%;
}
.main-about{
    width: 80%;
    margin: 170px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 105px;
}
.main-about{
    width: 40%;
    color: white;
    align-items: center;
    text-align: center;
}
.main-about div h2{
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: -50px;
}
.main-about img{
    size: 100%;
    width: 90%;
    height: 300px;
}
.main-about div p{
    
    margin-top: 20px;
    font-size: 20px;
}
.main-about div .finalPara{
    margin-bottom: -130px;
}
.main-playlist{
    width: 80%;
    margin: 170px auto;
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 105px;
}
.main-contato{
    width: 80%;
    text-align: center;
    display: inline;
    justify-items: center;
    align-items: center;
    
}
.main-contato h4{
    color: white;
    font-size: 25px;
    padding-top: 100px;
}
.pagPlaylist{
    width: 80%;
    margin: 100px auto 20px auto;
    text-align: center;
    display: block;
}
.pagPlaylist h3{
    color: white;
    font-family: 'Marck Script', cursive;
    font-weight: 900;
    font-size: 100px;
}
.table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 30px auto auto auto;
    width: 500px;
}
.table td{
    border: 1px solid  ;
    background: linear-gradient(90deg, #040139cb 0%, #340979b2 44%, #9000ffad 100%);
    padding:3px;
    color: white;
    text-align: center;
    padding: 5px 5px;
    font-size: 20px;
}
.table tr{
    text-align: center;
}
.form1{
    width: 50%;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.337);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4%;
    border-radius: 5px  ;
}
.nomeemail{
margin: 0px 30px 0px 0px;
display: grid;
}
#conteudo{
    width: 200px;
    height: 100px;
    border-radius: 7px;
    text-align: center;
}
.button{
    width: 409px;
    height: 35px;
    border-radius: 30px;
    background: #9100ff;
    color:white;
    font-size: 110%;
    border-style: none;
    margin-top: 10px;
}
#nome{
    border-radius: 7px;
    border-style: none;
    text-align: center;
    height: 40px;
}
#email{
    border-radius: 7px;
    border-style: none;
    text-align: center;
    height: 40px;
}
.main h2 {
    margin-bottom: 0px;
}
.null{
    width: 100%;
    height: 210px;
}
.playlist{
    background:#ddb9f8 ;
    border-radius: 7px;
    display: grid;
}
.playlist div {
    
}
.playlist div span {
    display: flex;
}
.playlist img {
    width: 250px;
    border-radius: 7px 7px 0 0;
}
.playlist h4{
    color:rgb(61, 61, 61);
    margin: 0;
    padding:0;
    font-size: 120%;
    align-self: center;
    margin: auto;
    
}
.playlist div{
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    flex-direction: row;
}
.playlist div span img{
    background: #040139;
    width: 50px;
    padding: 8px 10px 8px 5px;
    margin-bottom: 0;
    border-radius: 0 50% 50% 7px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background: linear-gradient(90deg, rgba(4,1,57,1) 0%, rgba(52,9,121,1) 44%, rgba(145,0,255,1) 100%);
    color: white;
}
